body {
    padding-top: 70px;
    font-family: sans-serif;
    background-color: #f5f5f5;
    /* background: linear-gradient(135deg, #7ec2f7 0%, #4c1e4b 100%); */
}

.text-azul {
    color: #007bff !important;
}

.text-gris-3 {
    color: #86888c;
}

.title {
    color: #0c0181;
    font-weight: 700;
    font-size: 2rem;
    font-family: cursive;
}

.categorias:hover {
    background: #e8f6fe;
}

.sectionCategoria {
    background: #d3d4d3;
}

.caja-resumen {
    border: 1px solid #019df433;
    border-radius: 16px;
    background-color: #e5f5fd;
}

.icon-rojo {
    color: red;
}

.font-cursive {
    font-family: cursive;
}

.bold {
    font-weight: 700;
}

.banner {
    width: 95%;
    height: 200px;
}

.form-control {
    height: 40px;
    border-radius: 4px;
    background-color: #f4f4f3;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

input:focus,
textarea:focus {
    border: 1px solid #019df4 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: white !important;
}

button,
input {
    overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.cursor-pointer {
    cursor: pointer;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    text-align: end;
}

input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}
select.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

.swal-text {
    text-align: center;
}

.spansito {
    color: #e9426d !important;
}

.custom-select {
    color: #86888c;
    background: #f5f5f5 url(../img/down-arrow.svg) no-repeat right 0.75rem
        center;
    background-size: 14px;
    border: 1px solid #f5f5f5;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-select {
    display: inline-block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff
        url(
            data:image/svg + xml;charset=utf8,
            %3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 4 5"%3E%3Cpathfill="%23343a40"d="M2 0L0 2h4zm0 5L0 3h4z"/%3E%3C/svg%3E
        )
        no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select:focus {
    background: white url(svg/down-arrow.svg) no-repeat right 0.75rem center;
    background-size: 14px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #80bdff;
}

.caja {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgb(80 83 90 / 30%);
    box-shadow: 0 2px 4px 0 rgb(80 83 90 / 30%);
    border-radius: 4px;
    border: 1px solid #e9eae8;
}

.caja-vacia {
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px dashed #d3d4d3;
}

.productos {
    background: linear-gradient(135deg, #eaf8ef 0%, #e8f6fe 100%);
}

.table {
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px 0 rgb(80 83 90 / 30%);
    box-shadow: 0 2px 4px 0 rgb(80 83 90 / 30%);
}

.table td,
.table th {
    border: 1px solid #d3d4d3;
}

.border-bottom {
    border-bottom: 1px solid #d3d4d3;
}

.navbar {
    background-color: #041f66 !important;
}

.navbar .nav-link {
    color: #ffffff !important;
}

.navbar .nav-item {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

.navbar .nav-item:hover {
    background-color: #007bff;
}

.navbar-toggler-icon {
    background-image: url("../img/navbar.svg");
    background-size: contain;
}

#oilChart {
    width: 40% !important;
    height: 40% !important;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating > input {
    display: none;
}

.rating > label {
    position: relative;
    width: 1em;
    font-size: 4vw;
    color: #ffd600;
    cursor: pointer;
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before {
    opacity: 1;
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

@media (max-width: 480px) {
    .h4,
    h4 {
        font-size: 1.2rem;
    }
}
