body {
    padding-top: 70px;
}

input,
textarea {
    background-color: #f4f4f3 !important;
    border-radius: 4px !important;
    border: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    text-align: end;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

.swal-text {
    text-align: center;
}

.input-lh {
    outline: none;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    padding-top: 18px;
    font-size: 1rem;
    line-height: 1.5;
    color: #86888c;
    background-color: #f4f4f3 !important;
    background-clip: padding-box;
    height: 48px;
    border: none !important;
}

.label-holder {
    color: #86888c;
    position: absolute;
    top: 10px;
    padding-left: 14px;
    transition: 0.5s ease;
}
.label-holder span {
    color: #86888c;
}
.label-span-inactivo {
    color: #86888c;
}
.input-lh:focus ~ .label-holder {
    top: 4px;
    font-size: 12px;
    padding-left: 12px;
    color: #00a9e0;
}
.input-lh:focus ~ .label-holder span {
    color: #e9426d;
}
.lleno-input ~ label span {
    color: #e9426d;
}
.lleno-input + label {
    position: absolute;
    top: 4px;
    font-size: 12px;
    padding-left: 12px;
    color: #00a9e0;
}
.lleno-input {
    outline: none;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    padding-top: 18px;
    font-size: 1rem;
    line-height: 1.5;
    color: #50535a;
    background-color: #fff !important;
    background-clip: padding-box;
    height: 48px;
    border: solid 1px #50535a !important;
}
.spansito {
    color: #e9426d !important;
}

.custom-select {
    color: #50535a;
    background: #e9eae8 url("../img/down-arrow.svg") no-repeat right 0.75rem
        center;
    border: 1px solid #e9eae8;
}

.custom-select:focus {
    background: white url("../img/down-arrow.svg") no-repeat right 0.75rem
        center;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
